@charset "utf-8";

*{
	border:0;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	padding:0;
}
body{
	overflow-x: hidden;
}
nav.navbar{
	margin: 15px 0;
}
nav .navbar{
	background:white;
	height: 32px;
	padding:10px;
	box-sizing: border-box;
	line-height: 32px;
}
nav.navbar .navbar-brand{
	position: relative;
	transform:translateY(-20%);
}
.container{
	margin: 0;
	width: 100%;
}

#collapse-btn{
	display: none;
}
nav{
	background-color: white !important;
	border:none !important;
}
#navbar{
	display: block;
}
.navbar-header img{
	width: 80px;
	height:40px;
}
#navbar .search-btn{
	display: none;
}
#navbar{
	display: block;
}
#collapse-btn{
	display: none;
	background: white;
	color:#666;
	border:none;
}
@media screen and (max-width: 992px){
	.navbar-header{
		float: none;
	}
	#navbar{
		font-size: 15px;
		margin: 0;
		padding:0 20px;
		display: none;
		min-height: 50px;
	}
	#collapse-btn{
		display: block;
		float: right;
		position: relative;
		right: 5px;
	}
	#navbar .navbar-form{
		padding: 15px 30px 0px 30px;
		border:none !important;
	}
	#navbar ul{
		display: block;
		width:100%;
	}
	#navbar .navbar-left li{
		border-bottom: 1px solid #ddd;
		padding: 8px 0px;
		margin: 0px 8px;
		display: block;
		width:100%;
	}
	#navbar form .form-group{
		display: none;
	}
	#navbar form button{
		width: 40%;
		margin-left: 3%;
		margin-right:3%;
	}
	#navbar  ul.navbar-right{
		text-align: center;
		margin:auto;
		text-align: center;
		display: flex;
		justify-content:center;
	}
	#navbar .navbar-right li{
		display: block;
		font-size: 10px;

	}
	#navbar form{
		display: block;
		width:100%;
	}
	#navbar .nav li a{
		padding-left:0;
	}
	#navbar .search-btn{
		display: inline-block;
	}
	#navbar li a{
		padding: 10px 15px;
		padding-top: 10px;
	    padding-bottom: 10px;
	    line-height: 20px;
	    position: relative;
	    display: block;
	}
	
}

#sec1{
	width: 100%;
	background-image:url("../img/Github-back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-size: 100%,100%;*/ 	
	background-position: left,bottom;
	color: #fff;
	text-align: center;
	text-shadow:0 1px 1px rgba(0,0,0,0.25),0 1px 30px rgba(0,0,0,0.75);
}
#sec1 h1{
	font-size: 36px;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 1.15;
}
#sec1 p{
	font-size:20px;
	padding:0 10px;
}

#sec1 .input-group{
	margin: 10px auto;
}
#sec1 .form-control {
	width: 340px;
	min-height: 40px;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border-color: rgba(0,0,0,0.25);
	
}
#sec1 button{
	height: 50px;
}
.input-group button{
	width: 340px;
}
#sec1 .control-note{
	margin-top:5px;
	font-size:12px;
	color:rgba(255,255,255,0.6);
}
.signupform{
	display: block;
}

#sec2{
	background:white;
	text-align: center;
	padding: 20px;
}
#sec2 .img-div{
	background-image: url("../img/universe-logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 71px;
	margin: auto;
}
#sec2 .col-md-1{
	margin: auto;
	text-align: center;
	display: flex;
	align-content:center;
	margin-bottom: 20px;

}
#sec2 h3{
	color: #3c4146;
}
#sec2 h4{
	color:#767676;
	padding: 0 20px 0 20px;
}

#sec3{
	text-align: center;
	padding: 0;
	margin: 0;
}
#sec3 h1{
	padding-top:80px;
	font-size: 28px;
	color:#3c4146;
	border-top: 1px solid #ccc;
	margin: 0;
}
#sec3 h2{
	font-size: 20px;
	color:#767676;
	/*margin-bottom: 40px;*/
	line-height: 1.5;
	padding: 0 10%;
	padding-bottom: 80px;
	border-bottom: 1px solid #ccc;
	margin:0;
}

#sec3 .sec{
	margin-top: 30px;
	padding: 40px;
	/*margin-bottom: 40px;*/
	border-bottom: 1px solid #ccc;
}
#sec3 .sec div{
	width: 40%;
	text-align: center;
	margin: auto;

}
#sec3 .sec h3{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	color: #3c4146;
}
#sec3 .sec p{
	font-size: 14px;
	color:#767676; 
}

#sec4{
	padding:50px 30px;

}

#sec4 h2{
	color: #3c4146;
	font-size: 28px;
}
#sec4 h3 a{
	font-size: 18px;
}
#sec4 h3 a:hover{
	text-decoration: underline;
}

#sec4 hr{
	height: 1px;
	margin-top: 40px 0;
	background-image: linear-gradient(to right, #b8e1ff 33.3333%, #fcd2c5 33.3333%, #fcd2c5 66.6666%, #e0c5eb 66.6666%);
}

#sec5{
	padding:20px;
	padding-bottom: 0;
	text-align: center;
	position: relative;

}
#sec5 p{
	font-size: 14px;
	color: #767676;
	padding-bottom: 20px;
}
#sec5 div{
	margin:auto;
}
#sec5 img{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

#sec6 {
	padding: 80px 0;
	background-image: linear-gradient(to bottom, #eee 0%, #fff 100%);
	border-bottom: 1px solid #eee;
}
#sec6 .panel{
	padding:20px;
	border-radius: 8px;
	border:1px solid #ddd;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	padding:15px;
	display: table;
}
#sec6 .panel .signup-btn{
	display: table-cell;
	width: 30%;
	vertical-align: middle;

}
#sec6 .panel button{
	width: 80%;
	height: 40px;
}
#sec6 .panel .desc{
	display: table-cell;
	width:70%;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
}
#sec .panel div{
	margin:auto;
}

footer{
	padding-top:40px;
	text-align: center;
	line-height: 16px;
	font-size:12px;
}
footer .site-footer-links li{
	display: inline-block;
	padding: 0 5px;
}
footer .icon-center {
	width: 60px;
}
footer .icon-center div{
	width: 60px;
	height: 30px;
	background-image:url("../img/github-mark.png");
	background-size: cover;
	display: none;
	position: absolute;
	left: 50%;
}


@media screen and (min-width: 768px) {
	#sec1{
		background-image: url("../img/Github-back-ls.jpg");
	}
	#sec1 h1{
		margin-left: 70px;
		font-size: 48px;
		
	}
	#sec1 .col-md-8 p{
		margin-left: 70px;
		font-size: 24px;
	}

	#sec3 h1{
		font-size: 34px;
	}
	#sec3 h2{
		font-size: 24px;
	}
	#sec3 .sec div{
		width: 70%;
	}
	#sec3 .sec{
		border:0;
		border-left: 1px solid #ccc;
		margin:0;

	}
	#sec4, #sec5{
		padding-left: 15%;
		padding-right: 15%;
	}
	#sec4 h2{
		font-size: 34px;
	}
	#sec4 h3 a{
		font-size: 20px;
	}

	#sec5 p{
		width: 300px;
		margin:0;
		padding:0;
		
		margin-top: 30%;
		text-align: left;
	}
	#sec6{
		padding-left: 15%;
		padding-right: 15%;
	}

}
@media screen and (min-width: 992px) {
	#navbar ul li a{
		padding-left: 0px;
	}
	.collapsed{
		display: none;
	}

	#sec1 .col-md-8 p{
		font-size: 26px;
		text-align: left;
	}
	#sec2 {
		text-align: left;
		padding: 0;
	}
	#sec2 .img-div{
		transform: translate(0,30%);
	}
	#sec3 h1{
		font-size: 38px;
	}
	#sec3 h2{
		font-size: 26px;
		padding-left: 15%;
		padding-right: 15%;
	}
	#sec3 .sec{
		height: 0;
		padding-bottom: 32%;
	}
	#sec4 h2{
		font-size: 38px;
	}
	#sec4 h3 a{
		font-size: 22px;
	}
	footer{
		padding-bottom: 20px;
	}
	footer .site-footer-links{
		float: left;
	}
	footer .float-right{
		float:right;
	}
	footer .icon-center div{
		display: block;
		margin-bottom: 20px;
	}

}
@media screen and (min-width: 1200px){
	#navbar ul li a{
		padding-left: 15px;
	}
	#sec3 .sec{
		height: 0;
		padding-bottom: 25%;
	}
	#sec6 .panel button{
		font-size: 1.05em;
		text-align: center;
		line-height: 30px;
	}
}

@media screen and (max-width: 544px){
	.signupform{
		display: none !important;
		margin-top:30px;
	}
}